/*
 * main.css
 * Author: Erwin Leonardy
 * Descrption: This is the main css file of our app
 */

.timer {
    display: inline-block;
    max-width: 90px;
    max-height: 90px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    width: 50%;
    height: 50%;
    top: 50%;
    margin: 0 auto;
    pointer-events:none;
}

/* overwrite the default bootstrap stylings*/

hr {
    border-top: 1px solid rgba(255, 255, 255, .5) !important;
}

.card-header {
    border-bottom: 1px solid rgba(255, 255, 255, .125) !important;
}

.card-footer {
    border-top: 1px solid rgba(255, 255, 255, .125) !important;
}